@import "https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Poppins:wght@300;400&family=Roboto:wght@300;400;700&family=Kalam:wght@300;400;700&display=swap";

:root{
    --color-background-body: rgba(230, 255, 252,0.6);
    --color-cover-span: rgb(2, 195, 154);
    --color-cover-card: rgba(255,255,255,0.6);
    --color-title-secondary:rgb(5, 85, 116);
    --color-title-preview: rgb(2, 128, 144);
    --color-text-primary: rgba(41, 38, 38,0.85);
    --color-text-links: rgb(15, 233, 211);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--color-text-primary);
    font-family: 'Poppins','Roboto';
    font-size:15px;
    z-index: -2;
}

body::after{
    content: "";
    position: absolute;
    right: 0;
    top:0;
    width: 50vw;
    height:90vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    
}

.content{
    max-width: 1240px;
    margin: 0 auto;
}

@media(max-width:1040px){
    .content{
        max-width: 900px;
    }
}

h2{
    color: var(--color-title-secondary) ;
    font-family: 'Kaushan Script', cursive;
}

ul{
    list-style: none;
}

li.atual{
    border-bottom: 2px solid rgb(99, 20, 35);
}

/* HEADER */
header{
    position: relative;
    padding-top: 10vh;
    padding-bottom:20vh;
}

header .content{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    margin-left: 1.25rem;
    padding-top:10px;
    padding-bottom:5px;
}

header nav ul a{
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    transition: 200ms color;
}

header nav ul a:hover{
    color: var(--color-text-links);
}

header img{
    width: auto;
    height: 6.25rem;
}

/* COVER */
.cover{
    height: 50vh;
}

.cover .content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}


.cover p{
    color: #fff;
    margin-top:3.125rem;
    max-width: 37.5rem;
}

/* FOOTER */
footer{
    background-color: #e7e6e6;
    padding-top:1.5rem;
    padding-bottom: 1rem;
}

footer .nav-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .nav-footer img{
    width: 150px;
}

footer .nav-footer ul{
    display: flex;
}
footer .nav-footer li{
    margin-left:1.3em;
}

footer .nav-footer a{
    color: rgb(99, 20, 35);
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}

footer .nav-footer a:hover{
    color: rgb(218, 45, 76);
}

footer p{
    text-align: center;
    margin-top:0.5rem;
}

footer p a{
    text-decoration: none;
    color: rgb(0, 0, 0,0.6);
    font-weight: bold;
    letter-spacing: 1.2px;
}


/* animation header */

@keyframes home{
  0%{
    left:60%;
  }
  100%{
    left:65%;
  }
}

@keyframes praias{
  0%{
    left:65%;
  }
  100%{
    left:70%;
  }
}

@keyframes hoteis{
  0%{
    left:70%;
  }
  100%{
    left:75%;
  }
}

@keyframes diversos{
  0%{
    left:75%;
  }
  100%{
    left:85%;
  }
}

img.animacao{
  width:80px;
  height: auto;
  position: absolute;
  top:20px;
  left:60%;
}


li.home:hover~img.animacao{
  animation: home 3s forwards;
}

li.praias:hover~img.animacao{
  animation: praias 3s forwards;
}


li.hoteis:hover~img{
  animation: hoteis 3s forwards;
}

li.diversos:hover~img{
  animation: diversos 3s forwards;
}
